<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/view.css">
    <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        window.onload = function () {
            const d = localStorage.getItem('<%= link %>')
            if (!d) {
                $.ajax({
                    type: 'POST',
                    url: '/api/script',
                    data: {
                        link: '<%= link %>'
                    }
                }).done((res) => {
                    console.log(res);
                    function replaceAll(str, searchStr, replaceStr) {
                        return str.split(searchStr).join(replaceStr);
                    }
                    $('.imgs').html(replaceAll(window.atob(res.script), 'src="', `src="${res.base}`));
                    $(".loading").removeClass("fade-in");
                    $(".loading").addClass("fade-out");
                    $(".def").css({ 'display': 'block' });
                });
            }
            else {
                console.log('exist!');
                function replaceAll(str, searchStr, replaceStr) {
                    return str.split(searchStr).join(replaceStr);
                }
                $('.imgs').html(replaceAll(window.atob(d), 'src="', `src="https://toonkor203.com`));
                $(".loading").removeClass("fade-in");
                $(".loading").addClass("fade-out");
                $(".def").css({ 'display': 'block' });
            }
        }

        let tmp = true;
        function sh() {
            if (tmp) {
                $(".top").css({ 'display': 'none' });
                $("#left").css({ 'display': 'none' });
                $("#right").css({ 'display': 'none' });
                tmp = false;
            }
            else {
                $(".top").css({ 'display': 'flex' });
                $("#left").css({ 'display': 'flex' });
                $("#right").css({ 'display': 'flex' });
                tmp = true;
            }
        }
    </script>
    <title>
        <%= origin %>
    </title>
</head>

<body>
    <div class="loading fade-in">
        <div>
            <div class="circle"></div>
        </div>
    </div>
    <div class="def" style="display: none;">
        <div class="container">
            <div class="top">
                <h4>
                    <%= origin %>
                </h4>
                <button onclick="window.location.href=`/episode/<%= title %>?thumb=<%= thumb %>`">목록</button>
            </div>
            <% if (prev) { %>
                <div id="left" onclick="window.location.href='<%= prev %>&thumb=<%= thumb %>'"><span class="fa fa-angle-double-left"></span>
                </div>
                <% } %>
                    <% if (next) { %>
                        <div id="right" onclick="window.location.href='<%= next %>&thumb=<%= thumb %>'"><span
                                class="fa fa-angle-double-right"></span></div>
                        <% } %>
                            <div class="imgs" onclick="sh();"></div>
        </div>
    </div>
</body>

</html>